body {
    font-family: 'Montserrat';
    /* margin: 0;
    padding: 0; */
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding: 2%;
}

section {
    padding: 5%;
}


/* Nav Bar */
nav {
    background-color: #0D3644;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    padding-left: 3%;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

.navbar-toggler {
    color: #fff;
}

/* Title Page */

#title {
    background: linear-gradient(
                    rgba(0,0,0,0.5),
                    rgba(0,0,0,0.5)
    ),
    url("/images/Alumni\ Heading.jpg");
    background-size: cover;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center top;
}

.title-page {
    padding-top: 7%;
    padding-bottom: 3%;

}

.intro {
    font-family: "Permanent Marker";
    text-align: center;
    z-index: 1;
    font-size: 5rem;
    color: #fff;
    padding-top: 20%;
}

.intro-text {
    text-align: center;
    font-size: 3rem;
}

/* Bio */

#bio {
    background-color: #6698A3;
}

#bio h2 {
    color: #fff;
}

#bio p {
    color: #fff;

}

/* Skills */

#skills h2 {
    color: #040F0F;
}

#skills p {
    color: #7B8A8E;
    padding: 5%;
}

.row {
    text-align: center;
    font-size: 2rem;
}

.skill-icon {
    color: #FF674D;
}

/* Projects */

#projects {
    background-color: #6698A3;
}

.colored-section h2 {
    color: #fff;
}

.project-desc {
    font-size: 1.5rem;
}
